* { box-sizing: border-box }
body {
    background-color: #0064CE;
    background: linear-gradient(to bottom, #0064CE 87%, #001933);
    color: #444;
    font: 400 1em/1.5 "Open sans", sans-serif;/*samsett skipun: size weight/height, font*/
}
.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right*/
    padding: 0;
}
/*grid*/
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
/*--------*/
.color, .color2 {
    background-image: linear-gradient(to bottom, rgb(172, 172, 172), #fff);
}
.color2 {
    height: 100vh;
    padding-top: 2em;
}
h1 {
    font-weight: 300;
}
header h1 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
}
.topnav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 0.5em;
}
.copy {
    color: #fff;
    text-align: center;
}
blockquote {
    background-color: rgba(255,255,255,0.5);
    padding: 1em;
}
footer {
    color: #fff;
    text-align: center;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:visited {
    color: rgb(167, 141, 92);
}
footer li {
    list-style-type: none;
    padding-bottom: .25em;
}
.innermenu {
    background-color: #0064CE;
    display: flex;
    justify-content: center;
}
.innermenu a {
    color: #fff;
    text-decoration: none;
    padding: .4em 1.2em;
    border-right: 1px solid #fff;
}
.innermenu a:last-child {
    border: none
}
.innermenu a:hover, .innermenu a:active {
    color: #0064CE;
    background-color: #fff;
}
.topbutt {
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #0064CE;
    font-size: 2.5em;
    display: block;
    position: fixed; /* relative, absolute */
    bottom: 2em;
    right: 2em;
    width: 1.5em;
    padding: 0.2em;
}
.toppbutt:active, .topbutt:hover {
    background-color: #0064CE;
    color: #fff;
}
.pR-1em {
    padding-right: 1em;
}
.pL-2em {
    padding-left: 2em;
}
a {
    color: #0064ce;
}
blockquote a {
    line-height: 1.8;
}
blockquote ul {
    list-style-type: none;
}
.svg {
    text-align: center;
    color: #fff;
}
.img {
    padding-top: 1em;
    padding-right: 0.6em;
}
img, video {
    max-width: 100%;
    height: auto;
}
.end {
    float: right;
}
@media screen and (min-width: 10em) {
    .kort {
        width: 300px;
        height: auto;
    }
    .kvikmynd {
        width: 300px;
        height: auto;
    }
    .svg-opt {
        width: 15%;
    }
    audio {
        width: 250px
    }
    .topnav {
        display: inline-block;
        position: relative;
        text-align: center;
    }
    header h1 {
        text-align: center;
    }
}
@media screen and (min-width: 30em) {
    .kort {
        width: 300px;
        height: auto;
    }
    .kvikmynd {
        width: 300px;
        height: auto;
    }
    .svg-opt {
        width: 15%;
    }
    audio {
        width: 250px
    }
    .topnav {
        display: flex;
        text-align: center;
        padding-bottom: 1em;
    }
    header h1 {
        text-align: center;
    }
}
@media screen and (min-width: 37.5em) {
    .kort {
        width: 300px;
        height: auto;
    }
    .kvikmynd {
        width: 300px;
        height: auto;
    }
    .svg-opt {
        width: 15%;
    }
    header {
        margin-right: 1em;
    }
}
@media screen and (min-width: 48em) {  
    
}
@media screen and (min-width: 60em) {
    .col-2 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 2em;
    } 
    .col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .kort {
        width: 600px;
        height: 450px;
    }
    .kvikmynd {
        width: 420px;
        height: 315px;
    }
    .color, .color2 {
        background-image: linear-gradient(to bottom, rgb(172, 172, 172), #fff);
        padding: 2em;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
    .topnav {
        margin-top: 8.5em;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        padding-bottom: 1em;
    }
    .topnav a {
        padding: 0 0 0 2em;
    }
    header h1 {
        margin: 2.05em 0 1em 0;
    }
    .svg-opt {
        width: 50px; 
        height: 55px;
    }
}
@media screen and (min-width: 80em) { 

}