* {
    box-sizing: border-box;
/*    border: 1px solid red;*/
}
body {
    max-width: 60em;
    margin: 0 auto;
    font-family: 'Bitter', serif;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "topnav header"
        "main main"
        "footer footer";
}
header {
    grid-area: header;
    font-family: 'Righteous', cursive;
}
.topnav {
    grid-area: topnav;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
/*inn í .content*/
.topmenu {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: rgb(252, 70, 14);
    padding: 1em;
}
.midja {
    grid-area: midja;
    background-color: rgb(255, 187, 0);
}
.vinstri {
    grid-area: vinstri;
    background-color: rgb(245, 160, 30);
}
.haegri {
    grid-area: haegri;
    background-color: rgb(187, 255, 0);
}
.content {
    display: grid;
    grid-gap:0;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: "vinstri midja haegri";
}
p, h4 {
    padding: 0.5em 1em;
}
h4 {
    margin-bottom: 0;
}
p {
    margin-top: 0;
}
header {
    text-align: center;
    background-color: rgb(255, 208, 0);
    padding: 1em;
}
footer {
    background-color: rgb(200, 255, 0);
    text-align: center;
}
.topmenu a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    padding: .5em;
}
.topmenu a:hover, .topmenu a:active {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 200);
}