* { box-sizing: border-box }
body {
    background-color: #0064CE;
    background: linear-gradient(to bottom, #0064CE 87%, #001933);
    color: #444;
    font: 400 1em/1.5 "Open sans", sans-serif;/*samsett skipun: size weight/height, font*/
}
.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right*/
    padding: 0;
}
.beige {
    background-image: linear-gradient(to bottom, #F7D37E, #f6f1d3);
    padding: 1em;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
header h1 {
    color: white;
    font-weight: 300;
    font-size: 3em;
    text-transform: uppercase;
    margin: 2.05em 0 1em 0;
}
.topnav {
    margin-top: 6em;
}
.topnav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1em;
}
.verkefni {
    text-align: right;
    color: #F7D37E;
}