* {
    box-sizing: border-box;
/*    border: 1px solid red;*/
}
body {
    max-width: 60em;
    margin: 0 auto;
    font-family: 'Crimson Text', serif;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "topnav"
        "footer";
}
header {
    grid-area: header;
    font-family: 'Fredoka One', cursive;
}
.topnav {
    grid-area: topnav;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
/*inn í .content*/
.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: rgb(0, 162, 255);
    padding: 1em;
}
.midja {
    grid-area: midja;
    background-color: rgb(0, 255, 157);
}
.vinstri {
    grid-area: vinstri;
    background-color: rgb(54, 99, 184);
}
.haegri {
    grid-area: haegri;
    background-color: rgb(35, 84, 219);
}
.content {
    display: grid;
    grid-gap:0;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-areas: "vinstri midja haegri";
}
p, h4 {
    padding: 0.5em 1em;
}
h4 {
    margin-bottom: 0;
}
p {
    margin-top: 0;
}
header {
    text-align: center;
    background-color: rgb(0, 255, 255);
    padding: 1em;
}
footer {
    background-color: rgb(0, 119, 255);
    text-align: center;
}
.topmenu a {
    text-decoration: none;
    color: rgb(17, 0, 255);
    padding: .5em;
}
.topmenu a:hover, .topmenu a:active {
    background-color: rgb(43, 145, 119);
    color: rgb(111, 0, 255);
}