* {
    box-sizing: border-box;
}
body {
    max-width: 60em;
    margin: 0 auto;
    line-height: 1.4;
}
header {
    background-color: royalblue;
}
header h1 {
    text-align: center;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
section {
    padding: 1em;
    border: 1px solid darkslategrey;
}
.serif {
    font-family: Georgia, 'Times New Roman', serif;
}
.monotype {
    font-family: 'Courier New', Courier, monospace;
}
.sansSerif {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.palaTino {
    font-family: 'Palatino linotype, "Book Antiqua", Palatino, serif';
}
.fyrirsogn {
    background-color: lightblue;
}
.fyrirsogn h1{
    font-family: 'Impact, Haettenschweiler, "Arial Black", sans-serif';
    font-size: 5em;
    text-align: center
}
.comic {
    font-family: "Comic Sans MS", sans-serif;
}
.arialBlack {
    font-family: "Arial Black", "Gadget", sans-serif;
}
.raudur {
    color: red;
}
.small {
    font-size: 0.6em;
    letter-spacing: 0.04em;
    line-height: 1.5;
}