body {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid blue;
    width: 50em;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
}
h1 {
    color:blue;
    text-align: center;
}
h2 {
    color:darkred;
}
ul {
    color: green;
}
strong {
    color:red;
}
em {
    color:blue;
}
